<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Details</title>
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="container" style="background:rgb(199, 221, 236);">
        <div class="navbar">       
            <div class="name">
                <a href="/"><h5> Hooney</h5></a>
            </div>
        </div>
    </div>
    <h1 id="saved-h1">Your Cart</h1>
    <% if (cartItems.length === 0) { %>
        <p>No items in your cart yet.</p>
    <% } else { %>
        <div class="cart-container">
            <div class="cart-items">
                <% cartItems.forEach(item => { %>
                    <div class="cart-product">
                        <img src="<%= item.imageUrl %>" alt="<%= item.name %>">
                        <div>
                            <h2><%= item.name %></h2>
                            <p>Price: US$<%= item.price %></p>
                            <% if (item.discount) { %>
                                <p>Discount: <%= item.discount %>%</p>
                            <% } %>
                        </div>
                        <div class="buttons" id="remove-buttons">
                            <form action="/removeCart/<%= item._id %>" method="POST">
                                <button type="submit">Remove</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>

            <div class="cart-summary">
                <h2>Cart Summary</h2>
                <p>Total Items: <%= cartItems.length %></p>
                <p>Total Price: US$<%= cartItems.reduce((total, item) => total + item.price * (1 - (item.discount || 0) / 100), 0).toFixed(2) %></p>
                <button onclick="">Proceed to Checkout</button>
            </div>
        </div>
    <% } %>
</body>